
/* 레이아웃 지정 */
body{
    max-width: 1080px;    
    margin: 0 auto;
}
header{
    background-color: yellow;
}
nav{
    background-color: aqua;
}
wrap{
    display: flex;
    flex-wrap: wrap;

    background-color: green;
}
section{
    width: 756px; 
    background-color: bisque;
}
section wrap_int{
    display: flex;
    flex-wrap: wrap;
}
aside{
    max-width: 324px;
    background-color: cadetblue;
}
footer{
    background-color: tomato;
}
/* 레이아웃 지정 */

header .main_banner{
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    margin: 10px;
}
nav{
    display: flex;
}
nav ul {

}
nav ul li{
    float: left;
    list-style: none;
    margin: 0 5px;
}
section .wrap_int{
    display: flex;
    justify-content: space-between;
}
div > a > img{
    width: 400px;
    height: 250px;
}